{% extends 'base.html.twig' %}

{% block title %}
    Eventsuche
{% endblock %}

{% block body %}
    <h1>Eventsuche</h1>
    <li>
        Event Name: {{ event.name }}
    </li>
    <li>
        Event ID: {{ event.id }}
    </li>
    <li>
        Event Description: {{ event.description }}
    </li>
{% endblock %}



